spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pds_warehouse?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: pds_user
    password: pds_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8082
logging:
  level:
    org.hibernate.SQL: DEBUG
